section {
  padding: 200px 0;
  .inner-column {
    padding-top: 66px;
    width: 550px;
    margin: auto;
    .item {
      margin-bottom: 110px;
      &:last-child {
        margin-bottom: 0;
      }
      h2 {
        max-width: 360px;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        line-height: 1.3;
      }
      .meta {
        margin-top: 40px;
        .date {
          font-size: 18px;
          font-weight: 700;
        }
        .arrow {
          float: right;
          margin-right: 40px;
          transition: all .2s ease-out;
          cursor: pointer;
        }
        &:hover {
          .arrow {
            margin-right: 35px;
          }
        }
      }
      .email {
        margin-top: 70px;
        border: solid 0.5px #ffbcb3;
        position: relative;
        .submit-wrapper {
          position: relative;
          background: red;
          position: absolute;
          right: 0;
          top: 0;
          width: 55px;
          height: 55px;
          img {
            pointer-events: none;
          }
          input.submit {
            width: 55px;
            height: 55px;
            background: #ffbcb3;
            border: 0;
            cursor: pointer;
            transition: all .2s ease-out;
            &:hover {
              background: #e7aba2;
            }
          }
        }
        input.textbox {
          font-family: 'Josefin Slab', serif;
          background: transparent;
          width: 100%;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          padding: 14px 25px;
          outline: none;
          border: 0;
          height: 55px;
        }
        ::-webkit-input-placeholder { color: #8E929D; }
        ::-moz-placeholder { color: #8E929D; }
        :-ms-input-placeholder { color: #8E929D; }
        :-moz-placeholder { color: #8E929D; }
        
      }
    }
  }
}




#hero {
  height: 500px;
  background: #F5BEB5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner {
    text-align: center;
    position: relative;
    display: inline-block;
    top: -20px;
    .tag {
      font-size: 26px;
      font-weight: 600;
      color: #3e465b;
      margin-top: 50px;
    }
  }
}

#events {
  background: #fff;
  p {
    font-size: 20px;
  }
}

#contact {
  background: #3F465A;
  color: #fff;
}

#footer {
  background: #2C3140;
  padding: 55px 0;
  text-align: center;
}









@media (max-width: 375px) {
  body {
    display: none;
  }
  section {
    padding: 100px 0;
    .inner-column {
      padding-top: 26px;
      width: 350px;
    }
  }


  #hero {
    height: 300px;
    display: none;
    .inner {
      img {
        width: 200px;
      }
      .tag {
        font-size: 16px;
        font-weight: 600;
        color: #3e465b;
        margin-top: 20px;
      }
    }
  }
}